/**
 * Style sheet for bugzooky, the stripes demo application.
 * @author Tim Fennell
 */

/** Set the default padding and margin for block level elements to be zero everywhere. */
body, div, dd, dt, dl, img, table, tr, td, h1, h2, h3, h4, h5, form, hr, fieldset {
	margin: 0px;
	padding: 0px;
}

/** Styles that affect the layout of the major chunks of the page. */
body {
    font-family: sans-serif;
    font-size: 10pt;
	position: relative;
	width: 777px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
    background-color: #e6eadb;
}

/* Style used to display the page header. */
#imageHeader {
    margin: 0px;
    background-image: url("bug.png");
    height: 197px;
    width: 775px;
}

#pageHeader {
    font-size: large;
    color: #446644;
}

#navLinks {
    margin: 0px;
    padding: 0px;
}

#navLinks a {
    display: block;
    width: 85px;
    padding: 4px 4px 4px 10px;
    margin: 5px 5px 5px 0px;
    border-right: 1px solid #a9a9a9;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    background-color: #4a7520;
    color: white;
}

#loginInfo, #loginInfo a{
    text-align: right;
    color: #446644;
}

#contentPanel { /* this is the div in the body that contains *everything* */
    float: left;
    border: 1px solid #a9a9a9;
    background-color: white;
}

#pageContent {
    margin: 5px 5px 5px 5px;
}

#footer, #footer a {
    text-align: center;
    background-color: #4a7520;
    color: white;
}

#footer {
    padding: 4px;
}

/** Default styles for link elements. */
a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: white;
}

a:hover {
    text-decoration: underline;
}

/** Styles used to created headings within the content of the page. */
div.sectionTitle {
    font-size: larger;
    color: #446644;
    margin: 0px 0px 15px 0px;
}

div.subtitle {
    color: #444444;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
}

/* Styles used to make tables for displaying data. */
table.display {
    width: 100%;
}

table.display, table.display th, table.display td {
    vertical-align: middle;
    border-collapse: collapse;
    border: 1px solid #a9a9a9;
    padding: 3px;
}

table.display tr.even {
    background-color: #ffffe9;
}

table.display th {
    background-color: #dcdcdc;
}

/** Styles for controlling how simple two column forms are laid out. */
table.leftRightForm td {
    padding: 3px;
}

table.leftRightForm th {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding: 3px;
    background-color: #eeeeee;
}

/* Default styles for form fields. */
input, select, textarea {
    font-size: 10pt;
    font-family: sans-serif;
}

select {
    width: 100px;
}

div.buttons {
    margin: 7px 0px 7px 0px;
    text-align: left;
}

textarea {
    width: 200px;
    height: 3em;
}

/* Styles used for form fields in error. */
input.error, textarea.error, select.error {
    background-color: #fafad2;
    color: #b72222;
}

label.error {
    color: #b72222;
    border-bottom: 1px dashed #b72222;
}