<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
         version="2.4">

    <description>
      Stripes Examples
    </description>
    <display-name>Stripes Examples</display-name>

    <servlet>
        <servlet-name>Stripes Dispatcher Servlet</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>ActionResolver.UrlFilters</param-name>
            <param-value>WEB-INF/classes</param-value>
        </init-param>
        <init-param>
            <param-name>ActionResolver.PackageFilters</param-name>
            <param-value>net.sourceforge.stripes.*</param-value>
        </init-param>
        <load-on-startup/>
    </servlet>

    <servlet-mapping>
        <servlet-name>Stripes Dispatcher Servlet</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Stripes Dispatcher Servlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>