<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{100}:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>
</Configuration>
